@font-face {
  font-family: "Aadhunik";
  src: url("./fonts/Aadhunik.ttf") format("truetype");
}
@font-face {
  font-family: "Coves Light";
  src: url("./fonts/Coves Light.otf") format("opentype");
}

.pointer {
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#start-button-container {
  width: 90%;
  position: fixed;
  text-align: center;
  vertical-align: middle;  
  top: calc(50% - 1.5rem);
}

#start-button {
  display: inline-block;
  font-family: "Coves Light";
  font-size: 3rem;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  animation-duration: 5s;
  animation-name: flux-start-button;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.bouncing-v {
  transform: scaleY(.25);
	font-size: 3rem;
  font-weight: 900;
  display: inline-block;
  /* animation-duration: 5s;
  animation-name: bouncing-arrow;
  animation-direction: alternate;
  animation-iteration-count: infinite; */
}

.bouncing-v-inverted {
  transform: scaleY(.25) rotate(0.5turn);
	font-size: 3rem;
  font-weight: 900;
  display: inline-block;
  /* animation-duration: 5s;
  animation-name: bouncing-arrow;
  animation-direction: alternate;
  animation-iteration-count: infinite; */
}
.left-arrow {
  transform: scaleX(.5) translateY(.125rem);
	font-size: 2rem;
  font-weight: 900;
  display: inline-block;
  color: white;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);

}
.right-arrow {
  transform: scaleX(.5) translateY(.125rem);
  font-size: 2rem;
  font-weight: 900;
  display: inline-block;
  color: white;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);

}
.learn-more {
  animation-duration: 5s;
  animation-name: bouncing-learn-more;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.learn-more-text {
  font-size: 1rem;
}



@keyframes bouncing-learn-more {
  0%, 100% { 
    opacity: .3;
    top: -30px;
    /* letter-spacing: 3px; */
  }
  50% {
    opacity: 1;
    top: 0px;
    /* letter-spacing: 7px; */
  }

}

@keyframes bouncing-arrow {
  0%, 100% { 
    opacity: .3;
    /* padding-bottom: 30px; */
    /* letter-spacing: 3px; */
  }
  50% {
    opacity: 1;
    /* padding-bottom: 0px; */
    /* letter-spacing: 7px; */
  }

}

@keyframes flux-start-button {
  0%, 100% { 
    opacity: 1;
    letter-spacing: 3px;
  }
  50% {
    opacity: .3;
    letter-spacing: 7px;
  }

}

#level-select-title {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1px 6px;
}

#sounds {
  background-color: rgba(0, 0, 0, 0);
}
#sound-menu {
  margin-left: auto;
  margin-right: auto;
}
.sound-menu-button.sound-menu-left-td {
  margin-right: 2rem;
}
#report {
  background-color: rgba(0, 0, 0, 0);
}
#report-options, #report-result-table, #high-scores-table, #high-scores-title, #high-scores-main-menu,  #global-high-scores-table, #high-scores-table-main-menu, #global-high-scores-table-main-menu0, #global-high-scores-table-main-menu1, #global-high-scores-table-main-menu-container {
  margin-left: auto;
  margin-right: auto;
}

#report-options {
  position: absolute;
  bottom: 5%;
  width: 90%;
}

.report-options-button {
  font-family: "Coves Light";
  font-weight: 900;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
#high-scores-tab-menu, #high-scores-tab-menu-main-menu {
  text-align: center;
}

.tab-button {
  font-size: 1rem;
  width: max-content;
  /* margin: 0 auto; */
  margin-top: 10px;
  display: inline-block;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #5e5b5b;

}
#high-scores-main-menu-current-zone {
  padding: 1px 6px;
  display: inline-block;
  width: 15rem;
}
#high-scores-zone-menu-main-menu {
  text-align: center;
}


.font-a {
  font-weight: 100;
  font-family: "Coves Light";
  color: #ffffff;
  text-transform: uppercase;
}
.font-b {
  font-weight: 900;
  font-family: "Coves Light";
  color: #ffffff;
}
.font-c {
  font-weight: 100;
  font-family: "Coves Light";
  color: #ffffff;
  text-transform: uppercase;
}
.font-d {
  font-family: "Aadhunik";
  font-size: 1.5rem;
  color: #ffffff;
}
.font-e {
  font-weight: 100;
  font-family: "Coves Light";
  color: #ffffff;
  text-transform: uppercase;
  animation-duration: 5s;
  animation-name: flux-start-button;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

td.result-key {
  width: 6rem;
  font-size: 1.5rem;
}
td.result-value {
  width: fit-content;
  font-size: 1.5rem;
}
td.high-score-ordinal {
  width: 2rem;
  font-size: 1.25rem;
}
td.high-score-name {
  width: 3rem;
  font-size: 1.25rem;
}
td.high-score-score {
  width: 7rem;
  font-size: 1.25rem;
}
td.high-score-sec {
  font-size: 1.25rem;
  width: fit-content;
  font-style: italic;
  font-weight: 100 !important;
}
#high-scores-title {
  width: fit-content;
  font-size: 2rem;
}
#high-score-title {
  animation: none;
}
#pause-menu {
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}

.spacer {
  height: 30%;
  display: inline-block;
}
.credits-role {
  width: fit-content;
  color: #ffffff;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 2rem;
}
.credits-name {
  width: fit-content;
  color: #ffffff;
  margin: 0 auto;
  font-size: 2rem;
}
#level-select {
  background-color: rgba(0, 0, 0, 0);
}
#start-menu {
  font-family: "Coves Light";
  position: absolute;
  border: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  width: 90%;
  bottom: 5%;
}
.start-menu-button {
  font-size: 2rem;
  width: max-content;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.sound-menu-button {
  width: max-content;
  margin: 0 auto;
  display: block;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2rem;
}
.sound-menu-key {
  
  width: max-content;
  margin: 0 auto;
  display: block;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2rem;
}
.sound-menu-values-container {
  width: 100%;
}
.sound-menu-value-half {
  width: 49%;
  display: inline-block;
  text-align: center;
}
.sound-menu-value-third {
  width: 32%;
  display: inline-block;
  text-align: center;
}

.menu-title-text {
  font-family: "Coves Light";
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0 auto;
  animation-duration: 5s;
  animation-name: flux-start-button;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  text-align: center;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
}

#back-button {
  font-family: "Coves Light";
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  position: absolute;
  bottom: 0;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#pause-button, #play-button {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 0;
  opacity: 1;
  max-width: 75px;
  max-height: 75px;
}
.hide {
  display: none;
  visibility: hidden;
}

#game-scoreboard {
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 3%;
  padding-right: 3%;
}
#timer,
#score {
  text-align: right;
}
#timer,
#score {
  font-family: "Coves Light";
  font-weight: 900;
  color: #ffffff;
}
#score-hundreds-text, #score-thousands-text {
  margin-left: -.45rem;
}
#score-millions-text, #score-thousands-text {
  margin-right: -.45rem;
}


.level-select-button {
  width: 100%;
  display: block;
  border: 0;
  border-radius: 5px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 2rem;
  padding: 1px 6px;
}

#curtain {
  transition: all 2000ms;
  pointer-events: none;
  background-color: white;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#tinted-overlay {
  background-color: #000000;
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  /* animation: tint-in .25s; */
}
@keyframes tint-in {
  
  0%   { opacity: 0; }
  100% { opacity: .3; }
}

@keyframes flux-tint {
  0%, 100% { 
    opacity: .3;
  }
  50% {
    opacity: .4;
  }

}
.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}
.margin-bottom-1 {
  margin-bottom: 1vh;
}
.margin-bottom-2 {
  margin-bottom: 4vh;
}
.margin-bottom-3 {
  margin-bottom: 6vh;
}
.margin-top-1 {
  margin-top: 1vh;
}
.margin-top-2 {
  margin-top: 4vh;
}
.margin-top-3 {
  margin-top: 6vh;
}
.table-margin-1 {
  border-collapse:separate; 
  border-spacing: 0 .5vh;
}
.table-margin-2 {
  border-collapse:separate; 
  border-spacing: 0 4vh;
}
.table-margin-3 {
  border-collapse:separate; 
  border-spacing: 0 6vh;
}


.debug, .debug-timers {
  width: 40%;
  height: 40%;
  top: 5%;
  left: 5%;
  background-color: white;
  z-index: 10;
  position: absolute;
  display: inline-block;
  padding: 1%;
  overflow-y: scroll;
  max-width: 300px;
  opacity: .75;
}

.debug-timers {
  left: 50% !important;
}

.debug .debug-item {
  padding: 1%;
  border: 1px solid lightgray;
  display: block;
  position: relative;
  margin-bottom: 4px;
}

.debug .debug-item .name {
  border: none;
  font-weight: bold;
}

.debug .debug-item .remove {
  position: absolute;
  right: 1%;
  top: 1%;
}

.coor {
  max-width: 30px;
}

.p-coors, .r-coors {
  display: block;
}

.c-data {
  padding-top: 1%;
}

.bg-gray {
  background-color: #ececec;
}
#stage-name-container, #stage-countdown-3-container, #stage-countdown-2-container, #stage-countdown-1-container, #stage-countdown-start-container {
  position: fixed;
  vertical-align: middle;  
}
#stage-name, #stage-countdown-3, #stage-countdown-2, #stage-countdown-1, #stage-countdown-start {
  display: inline-block;
  font-family: "Coves Light";
  position: fixed;
  font-size: 3rem;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;  
  top: calc(50% - 1.5rem);
  width: 90%;
}

#stage-name {
  z-index: 5;
}

#instructions-list img, #instructions-list-main-menu img {
  /* width: 49%; */
  max-height: 100px;
  display: inline-block;
  /* padding: 3% 0; */
}

#instructions-list, #instructions-list-main-menu {
  text-align:center;
}


#stage-number {
  font-family: "Coves Light";
  text-align: center;
  display: block;
  font-size: 3rem !important;
  z-index: 5;
  width: 90%;
  color: white;
  letter-spacing: 30px;
  margin: 0 auto;
}

#instructions-title {
  text-align: center;
  vertical-align: middle;  
  width:100%;
}

.menu-container {
  width: 100%;
  height: 100%;
  padding: 5%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  box-sizing: border-box;
  display: inline-block;
}

.scrolling-section {
  display: block;
  position: relative;
  height: 75%;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* .scrolling-section#report-scrolling-section {
  overflow-y: hidden;
} */

.high-score-table-container {
  height: 21vh;
  overflow-y:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media only screen and (min-width: 800px) {
  .scrolling-section {
    height: 60%;
  }
}

@media only screen and (max-width: 600px) {
  #instructions .table-display {
    display: block;
    padding: 5% 0%;
  }

  .landing-instructions-image {
    display: inline-block;
  }

  .section-features .table-display {
    display: block;
  }
}

::-webkit-scrollbar {
  display: none;
}

.title {
  text-align: center;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 10.5vw;
  font-family: "Aadhunik";
  font-weight: 900;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.landing-title-text, h1 {
  z-index: 100000000;
}

.landing-title {
  z-index: 100000000;
}
#landing-title-section {
  height: 33vh;
  z-index: 100000000;
}
#landing-page-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-container {
  height: 33%;  
  text-align: center;
  display: block;
}
@media (min-height: 700px) and (min-width: 700px) {
  .scrolling-section {
    height: 70%;
  }
  .scrolling-section#report-scrolling-section, .scrolling-section#sound-scrolling-section {
    height: 79%;
    position: relative;
    top: 43%;
    transform: translateY(-50%);
  }
  .results-left, #report-options, #global-high-scores-table-main-menu0, #global-high-scores-table-main-menu1 {
    width: 49%;
    display: inline-block;
  }
  #global-high-scores-table-main-menu-container {
    max-width: 700px;
  }
  .high-score-table-container {
    height: 25vh;
  }
  
  #report-options {
    right: 5%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }

  #sound-left, #sound-right {
    display: block;
  }
}
@media (min-aspect-ratio: 10/9) and  (max-height: 700px), (max-height: 500px){

  #high-scores-title {
    padding-top: 5%;
  }

  #report-options {
    right: 5%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }

  .high-score-table-container {
    height: 25vh;
  }
  .results-left, #report-options, #global-high-scores-table-main-menu0, #global-high-scores-table-main-menu1 {
    width: 49%;
    display: inline-block;
  }
  #sound-left, #sound-right {
    display: block;
  }

  .spacer {
    visibility: hidden;
    display: none;
  }

  #pause-menu {
    padding-top: 13% !important;
  }

  #credits-item {
    width: 49%;
    display: inline-block;
    min-height: 30%;
    vertical-align: top;
  }

  #credits-item {
    width: 49%;
    display: inline-block;
  }

  #instructions-list img {
    width: 32% !important;
  }
  .level-select-button {
    width: 49% !important;
    display: inline-block !important;
  }

  #start-menu button {
    width: 49% !important;
    display: inline-block !important;
  }

  .margin-top-1 {
    margin-top: 1%;
  }
  .margin-top-2 {
    margin-top: 2%;
  }
  .margin-top-3 {
    margin-top: 3%;
  } 
  
  .margin-bottom-1 {
    margin-bottom: 1%;
  }
  .margin-bottom-2 {
    margin-bottom: 2%;
  }
  .margin-bottom-3 {
    margin-bottom: 3%;
  }
  .table-margin-1 {
    border-collapse:separate; 
    border-spacing: 0 2px;
  }
  .table-margin-2 {
    border-collapse:separate; 
    border-spacing: 0 2px;
  }
  .table-margin-3 {
    border-collapse:separate; 
    border-spacing: 0 2px;
  }
  .title {
    padding-top:2%;
    padding-bottom: 2%;
  }
  .menu-title-text {
    padding-top:1%;
    padding-bottom: 1%;
  }
  .menu-container {
    padding-top:2%;
    padding-bottom: 2%;
  }
  #back-button {
    padding-top:2%;
    padding-bottom: 2%;
  }
  .start-menu-button {
    margin-top: 0;
  }
  .scrolling-section {
    height: 79%;
  }
  .scrolling-section#report-scrolling-section, .scrolling-section#sound-scrolling-section {
    height: 79%;
    position: relative;
    top: 43%;
    transform: translateY(-50%);}

}

.credits-role, .credits-name, .level-select-button, .sound-menu-button {
  font-size: 1.5rem;
}
#start-menu .start-menu-button, #report-options, #pause-menu .start-menu-button {
  font-size: 2rem;
}
.gray {
  opacity: .5;
}

.copy-section, .copy-section:hover, .copy-section:focus, .copy-section:active {
  color: #ffffff;
  text-decoration: none;
}

.sharing-container-0 {
  display: block;
}
.sharing-container-1 {

  margin-bottom: 2rem;
}
/* sharing styles */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}
